<% layout("/layouts/boilerplate.ejs") %>

<style>
    @media (max-width:412px){
        .mobile-fit{
            width: 100%;
            padding: 0 1rem;
            margin: 0;
        }
    }
</style>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2 mobile-fit">
    <h3>Edit Listing</h3>
    <Form method="post" action="/listings/<%=list._id %>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" value="<%=list.title%>" class="form-control" required>
            <div class="invalid-feedback">Please enter a suitable title</div>
        </div>
        <br> 
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" cols="30" rows="3" class="form-control" required ><%=list.description%></textarea>
            <div class="invalid-feedback">Short Description is required</div>
        </div>
        <br> 
        <div >
            Preview Listing Image<br>
            <img id="preview_img" src="<%= originalUrl %>" alt="preview_img">
        </div>
        <br> 
        <div>
            <label for="image" class="form-label">Upload Image</label>
            <input name="listing[image]" type="file" class="form-control">
        </div>
        <br> 
        <div class="row">
            <div class="col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" type="number" value="<%=list.price %>" class="form-control" required>
            <div class="invalid-feedback">Price should be Valid</div>

            </div>
            <div class="col-md-4">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" type="text" value="<%=list.country%>" class="form-control">
                <div class="invalid-feedback" required>Country name should be Valid</div>
            </div>
            <div class="col-md-4">
                <label for="country" class="form-label">Category</label>
                <select name="listing[category]" class="form-select" required>
                    <option value="">-Select Category-</option>
                    <option value="trending">Trending</option>
                    <option value="rooms">Rooms</option>
                    <option value="iconic_cities">Iconic Cities</option>
                    <option value="mountains">Mountains</option>
                    <option value="artic">Artic</option>
                    <option value="castles">Castles</option>
                    <option value="beaches">Beaches</option>
                    <option value="camping">Camping</option>
                    <option value="farms">Farms</option>
                </select>
                <div class="invalid-feedback">Please Select Category</div>
            </div>
        </div>
        <br>
        <div>
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" class="form-control" value="<%=list.location %>" required>
            <div class="invalid-feedback">Location should be Valid</div>

        </div>
        <br>
        <button class="btn btn-primary add-btn mb-3">Edit</button>
    </form>
</div>
</div>
<!-- <script src="/js/script.js"></script> -->
</body>
